* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('bg.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Segoe UI', sans-serif;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2rem 3rem;
  border-radius: 15px;
  max-width: 500px;
  width: 90%;
}

h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

p {
  font-size: 1.2em;
  margin-bottom: 1em;
}


form input[type="email"] {
  padding: 0.6em;
  width: 70%;
  border: none;
  border-radius: 5px;
  margin-right: 0.5em;
}

form button {
  padding: 0.6em 1em;
  background-color: #ff6f61;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #ff3b2e;
}
